html{
    margin: 0;
    padding: 0;

    height: 100%;
}

body{
    font-family: 'Chivo Mono', monospace;
    height: 100%;
    width: 100%;
}
header{
    overflow: visible;
}
.carousel.slide {
    height: 100vh;
}

.carousel-item {
    height: 100%;
}



@media (max-width:1000px) {
    #about{
        display: block !important;
    }
}

@media (max-width:800px){
    #about{
        display: none !important;
    }
}

@media (max-width:375px) {
    #about {
        display: none !important;
    }
}



